@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Metana";
  src: url("/fonts/metana.otf");
}

@font-face {
  font-family: "WildWorld";
  src: url("/fonts/wildworld.otf");
}
